/*  선택자(selector)
    # = div# 많이 써서 생략
    id(#) = 고유
    class(.) = 여러개
*/ 

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center{
    margin: 0 auto; 
    width : 1130px; 
    height: 160px;

}



#header-search > h1{
    display:inline-block;
    width: 222px;
    height: 52;
}



#header-search fieldset{
    display:inline-block;
    width:586px;
    height: 56;
}

.naver_logo{
    display: inline-block;
    width: 222px;
    height: 52px;
}